<link rel='stylesheet' href='/style.css'>

<!doctype html>
 <html lang='en'>
   <head>
     <meta charset='utf-8'>
     <title>RPS, baby!</title>
   </head>
   <body>
     <nav>
       <ul>
         <li><a href="/">Hertz</a></li>
         <li><a href="/about_rps">What paper whatter??</a></li>
         <li><a href="/play">play</a></li>
       </ul>
     </nav>
     <%= yield %>
   </body>
 </html>