body {
    background-color: hsl(272, 20%, 50%);
    background-image: url("http://www.bryanrock.com/application/files/2614/3932/2769/rock.png");

  }

  * {
    font-family: sans-serif;

  }

  h1{ 
  font-size: 42px;
  color: aquamarine;
  }

  h2{
    font-size: 100px;
    color: rgba(237, 40, 184,0.8);
  }

  p{
    font-size: 35px;
    color: rgba(170,13,38, 0.7)
  }

  li {
    font-size: 30;
  }